body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.logo-placeholder {
  width: 50px;
  height: 50px; 
}

.nav-sections {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: white;
}

.background-image {
  background-image: url('banner.png');
  background-position: center;
  width: 100vw;
  height: 100vh;
}
